@model VDSTrucking.Models.Route

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Route</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Rate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DriverRate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DriverRate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HelperRate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HelperRate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Location.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.RouteID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
