@model VDSTrucking.Models.Trip

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Trip</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Driver)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Driver.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Truck)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Truck.TruckID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TripID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
